.tarjetas__informacion{
    /* margin: 0 1vw; */
    /* overflow: hidden; */
    justify-content: baseline;
    height: 100%;
}
.tarjetas__titulo{
    overflow: hidden;
    font-size: var(--tx-mediano);
    white-space: nowrap;
}
.tarjetas__descripcion{
    text-overflow: clip;
    font-size: var(--tx-chico);
    line-break: anywhere;
    overflow: hidden;
    min-height: 5vw;
}