@import url(cantidad.css);
@import url(imagen.css);
@import url(informacion.css);
@import url(precios.css);
@import url(total.css);
.tarjetas {
    overflow: hidden;
    padding-top: .4rem;
    background-color: blueviolet;
    border-radius: var(--br-general);
    margin-bottom: var(--br-general);
    display: grid;
    grid: auto auto / 100%;
    gap: .5rem;
    box-shadow: 5px 4px rgba(0, 0, 0, .4);
    justify-content: space-between;
}
.tarjetas__agrupador__sector1 {
    padding: 0 .4rem;
    display: grid;
    height: 100%;
    grid: 100% / auto 1fr;
    gap: .5rem;
}
.tarjetas__agrupador__sector2 {
    display: grid;
    height: 100%;
    grid: 100% / auto 1fr auto;
    gap: .5rem;
}