@import url(cantidad.css);
@import url(imagen.css);
@import url(informacion.css);
@import url(precios.css);
@import url(total.css);
.tarjetas {
    overflow: hidden;
    height: 10vh;
    padding: 1vh 0 1vh 1vh;
    background-color: blueviolet;
    border-radius: var(--br-general);
    margin-bottom: var(--br-general);
    display: grid;
    grid: 100% / auto auto;
    gap: 1rem;
    box-shadow: 5px 4px rgba(0, 0, 0, .4);
    justify-content: space-between;
}
.tarjetas__agrupador {
    display: grid;
    height: 100%;
    grid: 100% / auto auto;
    align-items: center;
    gap: .5rem;
}