@media (min-width: 769px) {
    
    .calculadora__tarjetas{
        display: grid;
        grid: 1fr / 1fr 1fr 1fr;
        gap: 1rem;
    }
    .tarjetas{
        height: 9rem;
        margin-bottom: 0;
    }
    .header__btn__rebaja{
        flex-direction: row;
    }
    .header__texto__rebaja{
        margin-right: 1rem;
    }
}
@media (max-width: 894px ) and ( min-width: 574px) {
    .calculadora__tarjetas{
        display: grid;
        grid: 1fr / 1fr 1fr;
        gap: 1rem;
    }
    .tarjetas{
        height: 9rem;
        margin-bottom: 0;
    }
}
@media (max-width: 426px){
    .header__selector__rebaja{
        font-size: var(--tx-grande);
    }
}
@media (min-width: 426px){
    .calculadora__tarjetas::-webkit-scrollbar {
        
        background-color: transparent;
        width: 10px
    }
    .calculadora__tarjetas::-webkit-scrollbar-track {
        background-color: transparent
    }
    .calculadora__tarjetas::-webkit-scrollbar-track:hover {
        background-color: transparent
    }
    .calculadora__tarjetas::-webkit-scrollbar-thumb {
        background-color: #babac0;
        border-radius: 16px;
        border: 2px solid #fff
    }
    .calculadora__tarjetas::-webkit-scrollbar-thumb:hover {
        background-color: #a0a0a5;
        border: 2px solid #f4f4f4
    }
    .calculadora__tarjetas::-webkit-scrollbar-button {
        display: none
    }
}