:root{
    --bk-header: #ee2d21;
    --bk-header-efects: #7c160f;

    --br-general: 3vh;

    --tx-chico: calc(1rem);
    --tx-mediano: calc(1.5rem);
    --tx-grande: calc(2rem);
    --tx-muy-grande: calc(3rem);
}