.fa-trash-can{
    color: darkred;
    font-size: 5vw;
    text-shadow: 3px 2px rgba(0, 0, 0, 0.3);
}
.total__texto{
    font-size: 10vw;
    font-weight: bold;
}
.total__btn__borrar{
    height: 100%;
    border: 2.5px darkred solid;
    border-radius: var(--br-general);
    background-color: white;
}
.total__btn__borrar:active{
    background-color: #969696;
    border-color: rgb(78, 0, 0);
}
.fa-trash-can:active{
    color: rgb(78, 0, 0);
}
.total__precio{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    font-size: 6vw;
}